* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Valentine";
  src: url("AvertaDemoPECuttedDemo-Regular_1.woff2");
}

@font-face {
  font-family: "Aldo";
  src: url("AldotheApache.ttf");
}

body {
  font-family: "Valentine" !important;
  font-size: 150%;
  background-color: #1c2833 !important;
  width: 100%;
}

#page {
  margin-top: 2px;
}

/* Parte superior del menú*/
.header-top {
  background-color: #1c2833;
  padding-right: 1%;
  margin-bottom: 1%;
}

.header-top ul li {
  display: block;
  float: right;
  list-style-type: none;
  margin-right: 3%;
}

/*Enlaces superios*/

li a {
  color: #1c2833;
  float: left;
}

marquee p {
  color: white;
  height: 10px;
}

/*Menu de la pagina*/

.menu {
  background-color: #1c2833;
  color: white;
  text-align: center;
  height: 50px;
  margin-bottom: 2%;
  border-bottom: 5px solid;
  border-image-slice: 1;
  position: relative;
}

.option p {
  margin-top: 5%;
}

.option input {
  margin-top: 3%;
}

.logo {
  position: relative;
  width: 70px;
  top: -20px;
}

/*Al pasar sobre las opciones del menú*/

.up-red:hover {
  background-color: rgb(231, 76, 60);
}

.up-orange:hover {
  background-color: rgb(230, 126, 34);
}

.up-green:hover {
  background-color: rgb(46, 204, 113);
}

.up-blue:hover {
  background-color: rgb(26, 188, 156);
  z-index: 100;
}

.up-blue:hover div:first-child {
  border-bottom: 2px solid white;
}

/*Buscador del menu*/

#bs {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  outline: none;
  height: 30px;
  transition: height 1s;
  -webkit-transition: height 1s;
  line-height: 1300%;
}

/* -- Titulo de las paginas -- */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.titulo {
  color: white;
  font-size: 300%;
  font-family: "Aldo" !important;
  text-indent: 10px;
}

.titulo img {
  position: relative;
  top: -5px;
}

.subtitulo {
  color: white;
  text-indent: 30px;
}

.subtitulo img {
  position: relative;
  top: -5px;
}

/* -- Background del pie de página -- */

.background-escena {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 246, 203, 0),
    rgb(231, 76, 60)
  );
}

.background-musica {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 246, 203, 0),
    rgb(230, 126, 34)
  );
}

.background-paisaje {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 246, 203, 0),
    rgb(46, 204, 113)
  );
}

.background-contacto {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 246, 203, 0),
    rgb(26, 188, 156)
  );
}

.background-FAQ {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 246, 203, 0),
    rgb(26, 188, 156)
  );
}

.background-developter {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 246, 203, 0),
    rgb(26, 188, 156)
  );
}

/* -- Escenas -- */

.content-escenas {
  background-color: #1c2833;
  height: 100%;
  width: 100%;

  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;

  margin-bottom: 2%;

  border-right: 5px rgb(231, 76, 60) solid;
  border-left: 5px rgb(231, 76, 60) solid;
}

.escena {
  height: 100%;
}

.escena img {
  width: 100%;
  height: 200px;
  transition: transform 0.2s;

  margin-top: 5%;

  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.escena img:hover {
  transform: scale(1.1);
  z-index: 100;
}

/* -- Paisajes -- */

.content-paisajes {
  background-color: #1c2833;
  height: 100%;
  width: 100%;

  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;

  margin-bottom: 2%;

  border-right: 5px rgb(46, 204, 113) solid;
  border-left: 5px rgb(46, 204, 113) solid;
}

.paisaje {
  height: 100%;
}

.paisaje img {
  width: 100%;
  height: 200px;
  transition: transform 0.2s;

  margin-top: 5%;

  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.paisaje img:hover {
  transform: scale(1.1);
  z-index: 100;
}

/*Pie de pagina*/

#footer {
  text-align: center;
  line-height: 5px;
  padding-top: 5%;
  padding-bottom: 1%;

  color: #ffffff;
  text-shadow: #474747 3px 5px 2px;
  color: #ffffff;
}

.footer-contact-social {
  position: relative;
  top: -15px;
}

/*Enlaces*/

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover,
a:link:hover,
a:visited:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Formulario de Contacto , Login y Register*/

/* Contact */

.ask-question-input {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0px 0px 13px -3px;
  width: 100%;
}

.username {
  width: 75%;
  height: 40px;
  background-color: #f3f3f3;
  border: none;
  outline: inherit;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #1c2833;
}

.form-description {
  margin-right: 108px;
  color: #1c2833;
  font-weight: bold;
}

.email-part {
  margin-top: 30px;
}

.email {
  width: 75%;
  height: 40px;
  background-color: #f3f3f3;
  border: none;
  outline: inherit;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #1c2833;
}

.form-description2 {
  margin-right: 130px;
  color: #1c2833;
  font-weight: bold;
}

.question-title {
  width: 75%;
  height: 40px;
  background-color: #f3f3f3;
  border: none;
  outline: inherit;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #1c2833;
}

.form-description3 {
  margin-right: 90px;
  color: #1c2833;
  font-weight: bold;
}

.form-description3 {
  float: left;
}

.question-details {
  height: 200px;
  width: 100%;
  border: 1px solid #1c2833;
  background-color: #f3f3f3;
  outline: none;
}

.form-description4 {
  margin-right: 131px;
  color: #1c2833;
  font-weight: bold;
  float: left;
}

.publish-button {
  margin-top: 20px;
}

.publis {
  padding: 5px 15px 5px 15px;
  width: 100%;
  color: #fff;
  background-color: #1c2833;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 20px;
}

.publis:hover {
  padding: 5px 15px 5px 15px;
  width: 100%;
  color: #fff;
  background-color: #222629;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

.formulario-contacto {
  width: 100%;
  margin-bottom: 2%;
}

.google-map {
  margin-bottom: 2%;
}

/* -- FAQ -- */

.faq-preguntas {
  border: 2px white solid;
  border-radius: 20px;
}

.faq-pregunta {
  margin: 1%;
  color: white;
}

/* -- Desarrollador -- */

.desarrollador {
  color: white;
  text-align: justify;
}

.desarrollador img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 5px solid rgb(26, 188, 156);
  margin-top: 2%;
  margin-left: 5%;
}

/*------------------------*/

.content-music {
  background-color: #1c2833;
  height: 100%;
  width: 100%;
  color: white;

  padding: 2%;

  margin-bottom: 2%;

  border-left: 5px rgb(230, 126, 34) solid;
  border-right: 5px rgb(230, 126, 34) solid;
}

.table-music {
  background-color: #1c2833;
  height: 100%;
  width: 100%;
  color: white;
  padding: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.m {
  background-color: #1c2833;
  height: 100%;
  width: 100%;
  color: white;
  border-bottom: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(251, 005, 005), rgb(251, 118, 7))
    1 100%;
}

.content-comunidad {
  background-color: #1c2833;
  height: 100%;
  width: 100%;
  color: white;
}
